<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/create.css">
    
</head>

<body>
   

   <div class="inner-container">
    <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <form class="login-form" action="/new-password" method="POST">
        <div class="form-control">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
        <button class="login100-form-btn" id="login-btn" type="submit" style="margin-top: 40px;" type="submit">
            Update Password
        </button>
    </form>
</div>
