
<%- include ('./includes/head.ejs') %>

<link rel="stylesheet" type="text/css" href="css/create.css">
<link rel="stylesheet" type="text/css" href="css/profile.css">
<link rel="stylesheet" href="css/mode.css">
</head>

<body>
	
	<div class="container whole">
		<div class="inner-container ">
				<span class="login100-form-title m-t-100 m-b-40" style="color: #00dbde;">
                    blabme.
				</span>

				
				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
							<a href="signup" class="login100-form-btn" id="messages-btn" >Signup</a>
					</div>
				</div>
				
				<div class="container-login100-form-btn m-t-35">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
							<a href="login" class="login100-form-btn" id="messages-btn">Login</a>
					</div>
				</div>

				<div class="container col-xs-6 col-xs-offset-4 m-t-100 ">
					<div class="toggle-container">
						<input type="checkbox" id="switch" name="theme"><label for="switch">Toggle</label>
					</div>
				</div>
		</div>

		<div class="container text-center m-t-35 m-b-40 border border-info roundedl p-t-15 p-b-20 p-r-20" style="width: 25rem;">
			<a class="text-light " href="">
				In case of forgetten password, Please include your email to
				be provided with a reset link. Simply click here.
			</a>
		</div>
	</div>

	<div id="dropDownSelect1"></div>
	

	<script src="/mode.js"></script>
</body>

</html>