<%- include ('./includes/head.ejs') %>

<link rel="stylesheet" type="text/css" href="css/create.css">
</head>
<body>
	<div class="container whole">
		<div class="inner-container ">
				<span class="login100-form-title p-b-10">
					Anonymous Replies
				</span>
					<span class="login100-form-title p-b-79 m-t-60 " style="font-size: 20px;">
						Message Delivered, Now its your turn, simply sign up
                    </span>
                    
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                                <a href="signup" style="font-family: Poppins-Medium; font-size: 16px; color: #fff;" class="login100-form-btn" id="messages-btn" >Signup</a>
                        </div>
                    </div>
                <br>
		</div>
	</div>

	<div id="dropDownSelect1"></div>

</body>
	<script scr="main.js"></script>

</html>