<%- include ('./includes/head.ejs') %>
	
<link rel="stylesheet" type="text/css" href="css/profile.css">
</head>
<body>
	<div class="container whole">
		<div class="inner-container ">
				<span class="login100-form-title p-b-10" style="color: black;">
					<h3 style="display: inline-block;">hi</h3> <%= profileName %>
				</span>
				
				<div class="wrap container text-center m-b-50" >
					<input class="font-weight-bold" id="link-input" type="text" value="<%= userLink %>">
					<button class="" id="select-link"><img src="https://img.icons8.com/material-rounded/24/000000/copy-link.png"/></button>
				</div>

				<div class="container p-b-54 text-white">
					<p class="text-light">
						Share your profile link above on other socials
						to get messages from anonymous users.
					</p>
				</div>
				
				
				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
							<a href="messages" class="login100-form-btn" id="messages-btn" style="font-family: Poppins-Medium; font-size: 16px; color: #fff;">Your Messages</a>
					</div>
				</div>
				<br>
				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<a href="whatsapp://send" data-text="Take a look at this awesome website:" data-href=""  class="login100-form-btn" id="whatsapp"style="display:none">Share</a>
					</div>
				</div>
				<br>
				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<form action="/logout" method="POST">
							<button class="login100-form-btn" type="submit">Logout</button>
						</form>
					</div>
				</div>
				<br>
		</div>
	</div>

	<div id="dropDownSelect1"></div>
	<script type="text/javascript">	if(typeof wabtn4fg==="undefined")	{wabtn4fg=1;h=document.head||document.getElementsByTagName("head")[0],s=document.createElement("script");s.type="text/javascript";s.src="<%= userLink %>/whatsapp-button.js";h.appendChild(s)}</script>
	<script src="link.js"></script>
</body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
	<script scr="main.js"></script>
	

</html>