
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style>
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

				<span class="login100-form-title p-b-10">
					Anonymous Replies
				</span>
                
                <form class="login100-form validate-form" method="POST" action="/<%= username %>">
					<span class="login100-form-title p-b-79 m-t-60 " style="font-size: 20px;">
						Send your Anonymous Message
                    </span>
                    
                    <div class="form-group">
                        <span class="label-input100">Message</span>
                        <label for="exampleFormControlTextarea1">Example textarea</label>
                        <textarea class="form-control" id="message-text"  name="message" rows="3" placeholder="Say something here ..."   ></textarea>
                    </div>

                    <br>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <a href="">
                                <button class="login100-form-btn" id="signup-btn" type="submit">
                                   Send Message
                                </button>
                            </a>
						</div>
					</div>

					<div class="txt1 text-center p-t-54 p-b-20">
						<span>
							Or Sign Up Using
						</span>
					</div>

					<div class="flex-c-m">
						<a href="#" class="login100-social-item bg1">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fa fa-twitter"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
							<i class="fa fa-google"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-155">
						<span class="txt1 p-b-17">
							Or Sign Up Using
						</span>

						<a href="#" class="txt2">
							Sign Up
						</a>
					</div>
				</form>
				<br>
				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<a href="profile.html">
                            <button class="login100-form-btn">
                                Back
                            </button>
                        </a>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	


</body>

</html>